@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      background-color: rgb(5, 18, 43);
      color: white;
      scrollbar-width: none !important;

  }
  section{
    @apply min-h-screen
  }
  .nav{
    @apply p-4 z-20 fixed w-screen left-0 flex items-center
  }
  .blur-top{
    background-color: rgba(0,0,0,0.6);
    @apply backdrop-blur-md 
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
